*.log 
log/*.log
db/schema.rb 
db/schema.sql 
db/development.db
db/development.sqlite3
.idea/*
.idea/.generators 
.idea/.rakeTasks 
.idea/dictionaries/dsifry.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/releasename.iml
.idea/vcs.xml
.idea/workspace.xml
config/database.yml
